service cloud.firestore {
  match /databases/{database}/documents {

    // Anyone can read or write short links
    match /links/{linkId} {
      allow read: if true;
      allow write: if request.auth == null;
    }

    // IP spam prevention: let anyone read/write the IP doc
    match /ips/{ipId} {
      allow read, write: if request.auth == null;
    }
  }
}
